.newsCarouselItem {
    position: relative;
    height: 30rem;
}

.newsCarouselItem .news-overlay {
    padding: 2rem 2rem;
    height: 100%;
    width: 30%;
    float: right;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin-right: 6rem;
}
@media(max-width: 991px){
    .newsCarouselItem .news-overlay{
        width: 100%;
        text-align: center;
        margin-right: 0;
    }
  }

.news-overlay p {
    color: #fff;
}

.newsCarouselItem .news-overlay a {
    color: #fff;
    text-decoration: none;
}

.newsCarouselItem .news-overlay a:hover {
    margin-left: 0.3rem;
    transition: all 0.2s;
}

.newsCarouselItem .carousel-control-next-icon,
.newsCarouselItem .carousel-control-prev-icon {
    color: grey;
    font-size: 2rem;
}
