.slider-3d {
  max-width: 100%;
}

.slider-controls .slider-btn {
  background-color: transparent;
  border: 2px solid;
  border-radius: 50%;
  padding: 0.4rem 0.8rem;
  transition: all 0.2s;
  outline: none;
}

.slider-controls .slider-btn:hover,
.slider-controls .slider-btn:active {
  color: #fff;
  background-color: #CB6828;
}

.service-item {
  border: 1px solid #ccc;
  padding: 1rem;
  color: #000;
  margin-bottom: 2rem;
  transition: transform 0.5s ease-out, box-shadow 0.2s;
}

@media (max-width: 768px) {
  .service-body {
    flex-direction: column;
  }
}

@media (max-width: 991px)  {
  .service-item:hover {
    box-shadow: 5px 4px 9px 1px #333;
  }
}

@media (min-width: 992px) {
  .slider-3d {
    position: relative;
    perspective: 1000px;
    padding-top: 8rem;
    padding-bottom: 14rem;
  }

  .slider-box {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
  }

  .service-item {
    position: absolute;
    width: 40%;
  }

  .slider-front {
    transform: translate3d(0, -74px, 0);
    background-color: #fff;
  }

  .front-right {
    transform: translate3d(410px, -100px, -100px);
    background-color: #fff;
  }

  .front-left {
    transform: translate3d(-410px, -100px, -100px);
    background-color: #fff;
  }

  .back-right {
    transform: translate3d(420px, -240px, -1000px);
    opacity: 0.5;
  }

  .back-left {
    transform: translate3d(-420px, -240px, -1000px);
    opacity: 0.5;
  }

  .slider-back {
    transform: translate3d(0, -270px, -1100px);
    opacity: 0.5;
  }

  .service-heading {
    margin-left: 2.3rem;
  }
}
