.dtpedia-page-main {
  margin-top: 5rem;
  background-color: #f1f5f8;
}

.dtpedia-page-header {
  height: 80vh;
}

.dtpedia-page-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.dtpedia-page-body {
  padding: 5rem 0;
}

.dtpedia-list {
  border:  1px solid #ccc;
  border-top-color: #CB6828;
  padding: 0 !important;
}

.dtpedia-list a {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #333;
}

.dtpedia-list a:hover,
.dtpedia-list a.active {
  color: #000;
  text-decoration: none;
}

.dtpedia-list a.active {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
}

.dtpedia-page-loading {
  margin-top: 7rem;
}
