.overlay button{
  width: 200px;
  border: 2px solid white;
  background-color: transparent;
  padding: 10px;
  color: white;
  text-align: center;
}
.dtpedia {
  margin-top: -6px;
  background-color: #CB6828;
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
}
.dtpedia p {
  display: inline-block;
  color: cornsilk;
  margin-bottom: 1rem;
}

@media (min-width: 1280px) {
  .dtpedia p {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.dtpedia .dtpedia-link {
  border: 3px solid white;
  border-radius: 20px;
  padding: 5px 20px;
  color: #CB6828;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  width: 150px;
  font-weight: bold;
}

