.overlay button{
  width: 200px;
  border: 2px solid white;
  background-color: transparent;
  padding: 10px;
  color: white;
  text-align: center;
}
.detpedia {
  margin-top: -6px;
  background-color: #eaab00;
  padding: 1rem;
  font-size: 1.3rem;
}
.detpedia p {
  display: inline-block;
  color: cornsilk;
}
.detpedia button {
  float: right;
  border: 3px solid white;
  border-radius: 20px;
  padding: 5px;
  color: #eaab00;
  width: 150px;
}

