.logo {
  width: 226px;
  height: 64px;
}
.navbar.navbar--scrolled{
  background-color: white;
}
@media (max-width: 991px) {
  nav.navbar ul.navbar-nav {
    flex-direction: column;
    height: 100 vh;
  }
}
nav ul li.nav-item {
  font-size: 20px;
  padding: 10px;
  transition: padding 0.2s;
}

nav ul li.nav-item:hover {
  padding-left: 17px;
}
