.logo {
  width: 226px;
  height: 64px;
}

nav.navbar {
  background-color: transparent;
  transition: all 0.2s;
}

.navbar.navbar--scrolled{
  background-color: white;
}

@media (max-width: 991px) {
  nav.navbar ul.navbar-nav {
    flex-direction: column;
    height: 100vh;
  }
}
nav ul li.nav-item {
  font-size: 20px;
  padding: 10px;
  transition: padding 0.2s;
}

nav ul.navbar-nav li.nav-item a.nav-link {
  color: #fff;
  transition: all 0.2s;
}

nav.navbar--scrolled ul.navbar-nav li.nav-item a.nav-link {
  color: #333;
}

nav ul.navbar-nav li.nav-item a.nav-link.active {
  color: #CB6828;
}

nav ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #CB6828;
}

.navbar .navbar-toggler {
  color: #fff !important;
}

.navbar.navbar--scrolled .navbar-toggler {
  color: #000 !important;
}


@media (max-width: 992px) {
  nav ul li.nav-item a:hover {
    padding-left: 17px;
  }
}
