.carousel-container {
  background-color: grey;
}

.carouselItem {
  width: 100%;
  padding: 50px;
  text-align: center;
}

.carouselItem p {
  margin-top: 2rem;
  color: #fff;
}

.carouselItem h3 {
  text-align: center;
  color: #fff;
}

.carouselItem img {
  max-width: 50%;
  height: auto;
}

@media (min-width: 991px) {
  .carousel-container {
    width: 50%;
  }

  .keyClients {
    margin-left: auto;
  }
}
