.partners .carousel-container {
  width: 50%;
  background-color: grey;
  /* height: 400px; */
}
.carouselItem {
  width: 100%;
  padding: 50px;
  text-align: center;
  color: #fff;
}
.carouselItem p {
  margin-top: 2rem;
}
.carouselItem h3 {
  text-align: center;
}
.carouselItem img {
  max-width: 50%;
  height: auto;
}
.space {
  height: 200px;
}
