.history {
  margin-top: 92px;
  background-color: rgb(221, 220, 220);
}

.history h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #3d3d3d;
  font-size: 3.5rem;
  font-weight: lighter;
}

/* The actual timeline (the vertical ruler) */
.history-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.history-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
  transition: all 0.3s;
}

/* The circles on the timeline */
.timeline-container .after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #CB6828;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.3s;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 17px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right .after {
  left: -13px;
  transition: left 0.3s;
}

.right:hover .after {
  left: -37px;
}

/* The actual content */
.history-content {
  padding: 20px 30px;
  background-color: snow;
  position: relative;
  border-radius: 6px;
}

.timeline-container.right:hover {
  left: 52%
}

.timeline-container.left:hover {
  left: -1rem
}

.timeline-container:hover .after {
  right: -29px;
  background-color: #CB6828;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timeline to the left */
  .history-timeline .after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left .after,
  .right .after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
