@font-face {
  font-family: "Basic";
  src: local("Basic"), url(./assets/fonts/Basic-Regular.ttf) format("truetype");
}

body {
  color: #3d3d3d !important;
  overflow-x: hidden;
  font-family: "Basic", "sans-serif" !important;
  background-color: #f8f9fa !important;
}
.heading {
  width: 80%;
  margin: 2rem auto;
}
.section {
  padding: 7rem 0;
}
.section-heading {
  font-size: 3.5rem;
  margin-bottom: 7rem;
}
