.gallery img {
  width: 100%;
}

.active-solution {
  position: relative;
  margin-bottom: 4rem;
}

.active-solution .solution-image {
  height: 35rem;
  border-radius: 10px;
}

.active-solution .solution-overlay {
  padding: 1rem;
  color: #000;
  background-color: rgba(128, 128, 128, 0.6);
  border-radius: 10px;
}

.active-solution .solution-overlay .solution-title {
  color: #fff;
  text-align: center;
}

.active-solution .solution-location {
  text-transform: capitalize;
}

.active-solution .solution-location span {
  color: #CB6828;
}

.gallery .solutions-list {
  width: 100%;
}

.solutions-list .solution-image-container {
  overflow: hidden;
  width: 20%;
  border-radius: 50%;
}

.solutions-list .solution-image {
  height: 200px;
  cursor: pointer;
  transition: all 0.2s;
}
