.gallery img {
  width: 100%;
}

.active-project {
  position: relative;
}

.active-project .project-image {
  margin-bottom: 0.3rem;
  height: 45rem;
}

.active-project .project-overlay {
  position: absolute;
  bottom: 0.3rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3rem;
  color: #fff;
  display: none;
}

.active-project:hover .project-overlay {
  display: block;
}

.gallery .projects-list {
  width: 100%;
}

.projects-list .project-image-container {
  overflow: hidden;
  width: 20%;
}

.projects-list .project-image {
  height: 200px;
  cursor: pointer;
  transition: all 0.2s;
}

.projects-list .project-image:hover {
  transform: scale(1.1);
}
